/*CSS Externo*/

/* seletor {
            propriedade: valor;
        } */



body {
    background-color: #d3d3d3;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    font-size: 2em; /*1rem = 16px -> 1em = "M" */
    font-weight: bold;
    color: #0077b6;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0077b6;
    text-align: center;
}

header {
    background-color: #0077b6;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky; /* Pode ser necessário TOP, LEFT, BOTTOM ou RIGHT */
    top: 0;
} 

li {
    display: flex;
    justify-content: center;
    color: white
}
header ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header a {
    font-weight: 700;
    padding: .5rem 1rem
}

header a:hover {
    background-color: #023e8a;

}


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
section {
    /* VH -> Viewport Height (Altura da Viewport) */
    margin: 5rem;
    scroll-margin-top: 4rem;
    padding: 1rem;
    border: 1px solid #0077b6;
    border-radius: 20px;
    /* overflow: hidden; */
    background-color: #ffffff
}

p {
    margin-bottom: 1rem;
        text-align: center;
    color: white;

}

nav a img {
    width: 25px;
    height: 25px;
    margin-left: 500px,  ;
    filter: invert(100%) brightness(1000%);
}

img {
    text-align: center;

}

.FotoPerfil {
    margin: 20px auto;
    border: 3px solid #0077b6;
    border-radius: 50%;
}

address {

    text-align: center;
    color: white
}

h6 {
    text-align: center;
    color: white
}

footer {
    background-color: #0077b6;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    bottom: 0;
}

footer address {
    margin-top: 1rem
}

footer address, h6 {
    font-size: 0.9rem;
  }

section li, 
section a {
    color: black;

}
